body {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    background-color:#0c48df; /* dark blue */
    color:darkorange;
    margin:0;
}

input {
    font-family: inherit;
    font-size:inherit;
    background-color: #051C55; /* dark blue */
    color:darkorange;
    border: 1px darkorange;
    padding:0.5rem;
    margin:1rem;
}

input#room {
    letter-spacing: 1ch;
    width:8ch;
    text-align: left;
    text-transform: uppercase;
}


/* Avatar image gallery */
#gallerycontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.gallery {
    padding: 0.1rem;
    border: 4px solid #051C55; /* dark blue */
    float: left;
    align-items: baseline;
    /* width: 18%; */
  }
  
.gallery:hover {
    border: 4px solid darkorange;
}
  
div.gallery img {
  min-width:100px;
  width: 100%;
  height: auto;
  align-items: baseline;
}
  
  /* When playing in a room... */

#playercontainer {
    position:fixed;
    bottom:0px;
}

.player {
    position: relative;
    bottom:24px;
}

/* By adding a class of .dead to a player we can adjust the opacity of the player image */
.player .dead img {
  opacity: 0.3;
}
/* Debugging - show a pixel to identify the 'origin' of the player graphic */
.pixel {
  z-index:999;
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
  background-color: black;
}
.avatar {
  position: absolute;
  bottom:-60px;
  left:0;
  transform-origin: bottom center;
}
.avatar img {
  width:100px;
  transform-origin: center bottom;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);}

.playernamepanel {
  z-index: -1;
  position:absolute;
  left:0;
  top:-24px;
  height:48px;
  border-radius: 14px;
  border: 2px solid #fff;
  background-color: gray;
  vertical-align: baseline;
  max-width: 720px;
}

.playername {
  font-family: "Titan One", sans-serif;
  font-size:40px;
  margin-left: 100px;
  margin-right:10px;
  color:darkblue;

  line-height: 48px;
  vertical-align:bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* By default the role button should be invisible */
#rolebutton {
  display: none;
} 

#role {
  margin-top:3rem;
  text-align: center;
}
/* Holder for player content */
#content {
  margin-top:3rem;
  margin-bottom: 2rem;
  text-align: center;
}

button {
  font-family: 'Poppins', sans-serif;
  background-color:#4B538B;   
  color:#FF8C00 ;  /* Spanish orange */ 
  border: 1px solid #FF8C00; /* Spanish orange */
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
