/* Apply box-sizing: border-box to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-background: rgb(5, 28, 85);
    --color-background-rgb: rgb(5, 28, 85);
    --color-button: rgb(0,0, 90);
    --color-button-hover: green;
    --color-text: darkorange; 
    --color-input-bg: white;

    --scale-factor:1;
}
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: "Lilita One", sans-serif;
    background-color:var(--color-background); /* dark blue */
    color:var(--color-text);
    display:flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINERS */
/* positioning of the container panels below done using a standard width of 1920px - body is scaled to make this always work */
/* eg left 1600px is 320px from right edge of 1920px */
/* width supplied solely for debugging position of panel */
/* top and height will be set by the window resize event since affected by window innerheight */

#offscreen {
    z-index: -1;
    position:absolute;
    transform-origin: top left;
    left:-960px;
    width:520px;
}

/* PLAYER */
.player {
    /* Set position to absolute so all child elements are relative to this position */
    position:absolute;
    top:0;
    left:0;
}
/* By adding a class of .dead to a player we can adjust the opacity of the player image */
.player .dead img {
    opacity: 0.3;
}
/* Debugging - show a pixel to identify the 'origin' of the player graphic */
.pixel {
    z-index:999;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    background-color: black;
}
.avatar {
    position: absolute;
    bottom:-60px;
    left:0;
    transform-origin: bottom center;
}
.avatar img {
    width:100px;
    transform-origin: center bottom;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);}

.playernamepanel {
    z-index: -1;
    position:absolute;
    left:0;
    top:-24px;
    height:48px;
    border-radius: 14px;
    border: 2px solid #fff;
    background-color: gray;
    vertical-align: baseline;
    max-width: 480px;
}
.playername {
    font-family: "Titan One", sans-serif;
    font-size:40px;
    margin-left: 100px;
    margin-right:20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    color:darkblue;
    vertical-align:bottom;
}

.voter {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* INFORMATION/INSTRUCTION PANELS */
#gameoptions {
    z-index:10;
    font-size: 60px;
    position:fixed;
    padding:30px;
    left:60px;
    top:60px;
    right: 60px;
    bottom:60px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
}


#largepanel {
    position:absolute;
    z-index:10;
    font-size: 60px;
    left: 40px;
    width: 1840px;
    padding:30px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.4);
    display: none;
}
#largepanelcontent {
    margin:auto;
}
#startgame {
    display: none;
}
#nightaction {
    display: none;
}
#dayaction {
    display: none;
}
#instructions {
    position:absolute;
    z-index:10;
    font-size: 5rem;
    left: 240px;
    width: 1440px;
    padding:70px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.4);
    text-align: center;
    display: block;
}
#instructions-close {
    margin-top: 80px;
}

/* Copilot suggests: this works pretty well... */
.panel {
    display: none; /* Panels are hidden by default */
    /* padding: 40px; */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    /* border:#FF8C00 1px solid; */
  }
  
  .panel.active {
    display: flex; /* Show the active panel */
  }

  /* End copilot suggests */
  
#panel-rotate {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: var(--color-background);
    color: var(--color-text);
    display: none;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    z-index:999;
}


/* TIMER */
/* From https://alvarotrigo.com/blog/how-to-make-a-progress-bar-in-css/ */
#timer {
    position:absolute;
    z-index:10;
    left: 660px;
    top: 900px;
    width: 600px;
    height:60px;
    display: none;
    border: 2px solid green;
}
.timer_progress {
    --color:  /* the progress color */
      linear-gradient(#fff8,#fff0),
      repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
      green;
    background: var(--color);
    height: 100%;
    width: 0%;
  }



  /* SCRATCH  -  used by GSAP testing script */

.container-centre {
    text-align: center;
}

#buttonlist {
    position:absolute;
    transform-origin: top left;
    /* background-color: rgba(128,128,0,0.4); */
    top:0;
    left:0;
    width: 1920px;
    margin:0;
    padding:0;
    z-index: 999;
}

#test1 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
    border: 1px solid rgb(0,255,0);
}
#test2 {
    position:absolute;
    left:0px;
    top:0;
    width:100px;
    height:100px;
    border: 1px solid rgb(255,0,255);
}

.outline {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}


/* ALIGNED WITH HOST DISPLAY */
#question-options-wrapper {
    display:flex;
    flex-grow:1;
    justify-content: center;
    align-items: center;
    background-color: rgba(240,0,0, 0.2);
    border:1px solid red;
}
#question-options {
    display:grid;
    gap: 5vh 5vw;
    background-color: rgba(240,0,0, 0.2);
    border:1px solid green;
}
/* Single column layout for small screens and portrait mode */
@media (max-width: 600px) {
    #question-options {
        grid-template-columns: 1fr;
    }
}
/* Two column layout for larger screens and landscape mode */
@media (min-width: 601px) {
    #question-options {
        grid-template-columns: 1fr 1fr;
    }
}

/* Each of these answer-specific CSS selectors */
#submit-button {
    position:absolute;
    left:20px;
    top:20px;
    display: none;
    font-size:4vh;
    min-width:10vw;
    min-height:6vh;
}
#submit-button.active {
    display: block;
}

#answer-text-input {
    font-size: 10vh;
    text-align: center;
    width: 60%;
}

#answer-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    /* This reproducces the effect of object-fit:contain */
    display: flex; /* Show the image container */
    justify-content: center;
    align-items: center;
    background-color: blue;
}
#answer-image {
    max-width: 100%;
    max-height: 100%;
    cursor: crosshair;
    border:1px solid black;
}

.question-options-1col {
    grid-template-columns: repeat(1, 1fr); /* Responsive columns */
    gap: 0; /* Space between buttons */
}
.question-options-2col {
    grid-template-columns: repeat(2, 1fr); /* Responsive columns */
    gap: 40px; /* Space between buttons */
}
.question-options-3col {
    grid-template-columns: repeat(3, 1fr); /* Responsive columns */
    gap: 30px; /* Space between buttons */
}
.question-options-4col {
    grid-template-columns: repeat(4, 1fr); /* Responsive columns */
    gap: 20px; /* Space between buttons */
}
.question-options-1col .option {
    width:960px;
    min-height:90px;
}
.question-options-2col .option {
    width:640px;
    min-height:120px;
}
.question-options-3col .option {
    width:520px;
    min-height:120px;
}
.question-options-4col .option {
    width:400px;
    min-height:120px;
}
#question-options button {
    font-size:5vh;
    min-width:40vw;
    min-height:10vh;
}
button {
    background-color: var(--color-button);
    color: white;
    border: 3px solid gold;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}
button.hover {
    background-color: var(--color-button-hover);
}

#question-options .droppable {
    background-color: rgba(0,0,0, 0);
    border: 3px dashed grey;
}
#question-options .droppable.dragover {
    background-color: rgba(0,0,0, 0);
    border: 3px dashed gold;
}

button.label {
    background-color: rgba(0,0,0, 0);
    border: 3px dashed rgba(0,0,0, 0);
    color: gold;
    padding: 0;
    font-size:40px;
}
#question-options label {
    color: orange;
    font-size: 40px;
    text-align:center;
    justify-self: center;
}
