<!-- src/views/quiz.handlebars -->
<!-- Expects to receive a list of quizzes -->
<h1>Another page</h1>
<ul>
    This is a new page included from the main layout
    {{#each quizzes}}
        <li>
            <a href="/quizzes/{{this._id}}">{{this.title}}</a>
        </li>
    {{/each}}
</ul>
