* {
    box-sizing: border-box;
}

:root {
    --color-background: darkblue;
    --color-background-rgb: rgb(0,0,180);
    --color-button: rgb(0,0, 90);
    --color-text: gold; 
    --color-input-bg: white;

    --scale-factor:1;
}

body {
    /* Prevent scrollbars from appearing */
    overflow: hidden;
    font-family: "Titan One", sans-serif;
    /* font-family: "Lilita One", sans-serif; */
    background-color:#051C55; /* dark blue */
    color:darkorange;
    margin:0;
    padding:0;
    font-size:1rem;
    position: relative;
}

/* Background image element */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/quiz/background.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: -2; /* Ensure the background is behind the content */
}

/* Semi-transparent overlay to darken the background image */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Semi-transparent black overlay */ 
    opacity: 1; /* Faded alpha during onload function */
    z-index: -1; /* Ensure the overlay is behind the content but in front of the background*/
}


#wrapper {
    position: relative;
    transform-origin: top left;
    transform: scale(var(--scale-factor));
    width:1920px;
    /* height will be set in resize function */
}


/* CONTAINERS */
/* positioning of the container panels below done using a standard width of 1920px - body is scaled to make this always work */
/* eg left 1600px is 320px from right edge of 1920px */
/* width supplied solely for debugging position of panel */
/* top and height will be set by the window resize event since affected by window innerheight */

#offscreen {
    z-index: 1;
    position:absolute;
    transform-origin: top left;
    left:-960px;
    width:520px;
}

/* playerlist is a container for all players */
#playerlist {
    position: absolute;
    transform-origin: top left;
    z-index: 1;
    left: 0;
    width:1920px;
    background-color: rgba(240,240,240,0.3);
    /* border: 1px solid red; */
    /* The above transform-origin is useful to allow rotation around top left corner (origin)

    /* Its possible to scale ALL players but this affects their positioning canvas must also be scaled */
    /* Set this property programmatically - leaving here for testing: */
    /* scale:0.5; */
}

/* Race is used to position the players in a bar chart race */
#racetrack {
    position:absolute;
    width: 1880px;
    left: 20px;
    z-index:1;
    /* background-color: rgba(240,0,0, 0.3);
    border:1px solid red; */
}
#racetrack-markers {
    position:absolute;
    width: 1880px;
    left: 1920px;
    /* background-color: rgba(240,0,0, 0.3);
    border:1px solid red; */
}
#racetrack-lanes {
    position:absolute;
    width: 1880px;
    left: 0px;
    /* background-color: rgba(0, 240,0, 0.3);
    border:1px solid green; */
}

/* PLAYER */
.player {
    /* Set position to absolute so all child elements are relative to this position */
    position:absolute;
    top:0;
    left:0;
}
/* By adding a class of .dead to a player we can adjust the opacity of the player image */
.player .dead img {
    opacity: 0.3;
}
/* Debugging - show a pixel to identify the 'origin' of the player graphic */
.pixel {
    z-index:999;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    background-color: black;
}
.avatar {
    position: absolute;
    bottom:-60px;
    left:0;
    transform-origin: bottom center;
}
.avatar img {
    width:100px;
    transform-origin: center bottom;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);}

.bar {
    position:absolute;
    left: -5px;
    top: -32px;
    height:64px;
    background-color: rgb(16, 180, 235);
}

.playernamepanel {
    z-index: -1;
    position:absolute;
    left:0;
    top:-24px;
    height:48px;
    border-radius: 14px;
    border: 2px solid #fff;
    background-color: gray;
    vertical-align: baseline;
    max-width: 480px;
    transition: box-shadow 0.3s ease;
}
.playernamepanel.answered {
    background-color: green;
    border-color: #ffc;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), /* Outer glow */
                0 0 20px rgba(255, 255, 255, 0.4), 
                0 0 30px rgba(255, 255, 255, 0.3), 
                0 0 40px rgba(255, 255, 255, 0.2);

}
.playernamepanel .dead {
    background-color: red
}

.playername {
    position: relative;
    font-family: "Titan One", sans-serif;
    font-size:40px;
    margin-left: 100px;
    margin-right:20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    color:darkblue;
    vertical-align:bottom;
}
.playerscore {
    position: relative;
    bottom:92px;
    text-align:right;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

/* MARKER */
.marker {
    position: absolute;
}
.marker-line {
    position: absolute;
    width: 2px; /* Width of the vertical line */
    height: 32px; /* Height of the vertical line */
    background-color: white; /* Color of the line */
    top:0;
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%); /* Adjust to center the line */
}

.marker-distance {
    position: absolute;
    font-size: 32px; /* Font size of the score */
    text-align: center; /* Center the text */
    left: 50%; /* Center the text horizontally */
    bottom: 100%; /* Position the text above the line */
    transform: translateX(-50%); /* Adjust to center the text */
    margin-bottom: 5px; /* Optional: Add some space between the text and the line */
}

/* INFORMATION/INSTRUCTION PANELS */
#gameoptions {
    z-index:10;
    font-size: 60px;
    position:fixed;
    padding:30px;
    left:60px;
    top:60px;
    right: 60px;
    bottom:60px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
}


#largepanel {
    position:absolute;
    z-index:10;
    font-size: 60px;
    left: 40px;
    width: 1840px;
    padding:30px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.4);
    display: none;
}
#largepanelcontent {
    margin:auto;
}
#startgame {
    display: none;
}

/* Panel - add as a class to any panel which needs to be switched in and out */
.panel {
    position:absolute;
    transform-origin: top left;
    z-index:10;
    /* border: 2px solid #fff; */
    background-color: rgba(255,255,255,0.4);
    display: none; /* default hidden - add class of .active to make appear */
}
.panel.active {
    display: flex; /* Show the active panel */
  }

#panel-response {
    flex-direction: column;
    font-size: 5rem;
    left: 240px;
    width: 1440px;
    padding:70px;
    border-radius: 30px;
    text-align: center;
}
#panel-response-title {
    font-size: 72px;
    margin-bottom: 40px;
}
#panel-response-description {
    font-size: 48px;
    margin-bottom: 40px;
    color: white;
}
#information-panel {
    position:absolute;
    flex-direction: column;
    font-size: 5rem;
    left: 240px;
    width: 1440px;
    padding:70px;
    border-radius: 30px;
    background-color: rgba(0,0,0, 0.3);
    border:2px solid gold;
    z-index:12;
}
#information-panel-title {
    font-size: 72px;
    margin-bottom: 40px;
    justify-self: center;
    align-self: center;
}
#information-panel-description {
    font-size: 48px;
    margin-bottom: 40px;
    color: white;
}

/* Similar for payload panels since they all behave in a similar way  */
.payload {
    flex-direction: column;
    font-size: inherit;
    width: 400px;
    padding:10px;
    border-radius: 10px;
    text-align: left;
    display:none;
}
.payload.active {
    display: flex; /* Show the active panel */
}


/* QUESTION/ANSWERS */

#round {
    position: absolute;
    z-index: 10;
    left: 660px;
    top: 60px;
    font-size: 48px;
}

/* Space for the question */
#panel-question {
    position: absolute;
    z-index: 10;
    left: 120px;
    width: 1680px;
    background-color: rgba(0,0,0,0.2);
    /* border: #0000 1px solid; */
    text-align: center;
    flex-direction: column;
}
#question {
    font-size: 96px;
    margin-bottom: 40px;
    min-height:200px;
    /* border: 1px solid #fff; */
}

#panel-answers {
    position: absolute;
    z-index: 10;
    left: 120px;
    width: 1680px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    border: #0000 1px solid;
}
#answers {
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    justify-content: space-between; /* Distribute buttons evenly */
    background-color: rgba(0,0,0,0.2);
    /* border: 1px solid blue; */
    align-self: center; /* Center the container within its parent */
    margin: 0 auto; /* Center the container within its parent */
    height: 100%; /* Ensure the container takes the full height of the parent */
}

#answers button {
    margin: 0;
    padding: 15px 30px;
    font-size: var(--button-font-size, 60px); /* Use custom property for font size */
    flex: 0 1 auto;
    background-color: #007bff;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    align-self: stretch; /* Center the button within its parent */
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.5);
    white-space: nowrap; /* Prevent text from wrapping */
}
#answers button.correct {
    background-color: #28a745;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), /* Outer glow */
    0 0 20px rgba(255, 255, 255, 0.4), 
    0 0 30px rgba(255, 255, 255, 0.3), 
    0 0 40px rgba(255, 255, 255, 0.2);
}

/* TIMER */
/* From https://alvarotrigo.com/blog/how-to-make-a-progress-bar-in-css/ */
#timer {
    position:absolute;
    z-index:10;
    left: 660px;
    top: 900px;
    width: 600px;
    height:60px;
    display: none;
    border: 2px solid green;
}
.timer_progress {
    --color:  /* the progress color */
      linear-gradient(#fff8,#fff0),
      repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
      green;
    background: var(--color);
    height: 100%;
    width: 0%;
  }



  /* SCRATCH  -  used by GSAP testing script */

.container-centre {
    text-align: center;
}

#buttonlist {
    position:absolute;
    transform-origin: top left;
    /* background-color: rgba(128,128,0,0.4); */
    top:0;
    left:0;
    width: 1920px;
    height:120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust minmax as needed */
    grid-auto-rows: auto;
    gap: 5px; /* Adjust gap between buttons */
    margin:0;
    padding:0;
    z-index: 999;
}
#payloadlist {
    position:absolute;
    transform-origin: top left;
    top:120px;
    left:0;
    width: 1920px;
    height:200px;
    margin:0;
    padding:0;
    z-index: 998;
    font-size: 32px;
}
#payloadlist .payload textarea {
    font-size:inherit;
}
/* Specific styles for payload and event buttons */
.payload-button {
    grid-row: 1;
}

.event-button {
    grid-row: 2;
}

#test1 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
    border: 1px solid rgb(0,255,0);
}
#test2 {
    position:absolute;
    left:0px;
    top:0;
    width:100px;
    height:100px;
    border: 1px solid rgb(255,0,255);
}

.outline {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

/* UPDATED QUESTION STYLES */

#buttonlist button {
    font-size:12px;
    margin-right:2px;
}
#question-panel {
    position:absolute;
    transform-origin: top left;
    left: 100px;
    width: 1720px;
    /* background-color: rgba(0,0,240, 0.3);
    border: 1px solid yellow; */
    z-index: 10;

    /* Suggested by v0 for a flexible layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    /* height:100%;  Height will be set in the window resize function */
}
#question-number-title {
    font-size: 48px;
    text-align:right;
    margin-bottom: 48px;
}
#question-number {
    color: white;
}

#question-text {
    padding: 0 60px;
    /* border:1px solid orange; */
    font-size: 72px;
    line-height:1.4em;
}
/* Note: this selector expects the image-selector to be an image not custom HTML element */
#question-image {
    width: 100%;
    height: 100%;
    position: relative; /* Ensure the container is positioned */
    overflow: hidden;   /* Prevent overflow of child elements */
    display: none;      /* Default it is not shown since it takes up a lot of space */
    justify-content: center;
    align-items: center;
    /* border:1px solid white; */
}
#question-image.active {
    display:flex;
}
#image-selector {
    width: 100%;    /* Ensure the image does not exceed the container width */
    height: 100%;   /* Ensure the image does not exceed the container height */
    object-fit: contain; /* Scale the image to fit within the container while maintaining aspect ratio */
}

#question-answer {
    font-size: 72px;
    color: white;
    justify-self: center;
    align-self: center;
}
#player-overlay {
    position:fixed;
    width:200px;
    height:200px;
    background-color: rgba(0,0,0,0.7);
    font-size:64px;
}
#question-options-wrapper {
    display:flex;
    flex-grow:1;
    justify-content: center;
    align-items: center;
}
#question-options {
    display:grid;
    justify-content: center;
}
/* Not sure about all these... */
.question-options-1col {
    grid-template-columns: repeat(1, 1fr); /* Responsive columns */
    gap: 0; /* Space between buttons */
}
.question-options-2col {
    grid-template-columns: repeat(2, 1fr); /* Responsive columns */
    gap: 40px; /* Space between buttons */
}
.question-options-3col {
    grid-template-columns: repeat(3, 1fr); /* Responsive columns */
    gap: 30px; /* Space between buttons */
}
.question-options-4col {
    grid-template-columns: repeat(4, 1fr); /* Responsive columns */
    gap: 20px; /* Space between buttons */
}
.question-options-1col .option {
    width:960px;
    min-height:90px;
}
.question-options-2col .option {
    width:640px;
    min-height:120px;
}
.question-options-3col .option {
    width:520px;
    min-height:120px;
}
.question-options-4col .option {
    width:400px;
    min-height:120px;
}
#question-options button {
    background-color: var(--color-button);
    color: white;
    border: 3px solid gold;
    border-radius: 12px;
    font-size:48px;
    padding: 10px 20px;
    cursor: pointer;
}
#question-options .droppable {
    background-color: rgba(0,0,0, 0);
    border: 3px dashed grey;
}
#question-options .droppable.dragover {
    background-color: rgba(0,0,0, 0);
    border: 3px dashed gold;
}
#question-options .correct {
    background-color: #28a745;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), /* Outer glow */
    0 0 20px rgba(255, 255, 255, 0.4), 
    0 0 30px rgba(255, 255, 255, 0.3), 
    0 0 40px rgba(255, 255, 255, 0.2);
}

#question-options button.label {
    background-color: rgba(0,0,0, 0);
    border: 3px dashed rgba(0,0,0, 0);
    color: gold;
    padding: 0;
    font-size:40px;
}
#question-options label {
    color: orange;
    font-size: 40px;
    text-align:center;
    justify-self: center;
}
