
body {
    /* Prevent scrollbars from appearing */
    overflow: hidden;
    /* font-family: "Titan One", sans-serif; */
    font-family: "Lilita One", sans-serif;
    background-color:#051C55; /* dark blue */
    color:darkorange;
    transform-origin: top left;
    margin:0;
    padding:0;
    font-size:1rem;
}

/* CONTAINERS */
/* positioning of the container panels below done using a standard width of 1920px - body is scaled to make this always work */
/* eg left 1600px is 320px from right edge of 1920px */
/* width supplied solely for debugging position of panel */
/* top and height will be set by the window resize event since affected by window innerheight */

#offscreen {
    z-index: -1;
    position:absolute;
    transform-origin: top left;
    left:-960px;
    width:520px;
}

/* playerlist is a container for all LIVING players */
#playerlist {
    z-index:-1;
    position:absolute;
    transform-origin: top left;
    left:0;
    width:520px;
    background-color: rgba(0,0,0,0.3);
    /* The above transform-origin is useful to allow rotation around top left corner (origin)

    /* Its possible to scale ALL players but this affects their positioning canvas must also be scaled */
    /* Set this property programmatically - leaving here for testing: */
    /* scale:0.5; */
}
/* panels to hold the players after they have been killed by wolves or by villagers */
/* width 312 as this is 0.6 of 520 (killed players have a scale of 0.6 applied) */
#nightphase {
    z-index:-1;
    position:absolute;
    transform-origin: top left;
    left: 1580px;
    width: 320px;
    background-color: rgba(255,0,0,0.3);
    border: 1px solid #fff;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
}
#dayphase {
    z-index:-1;
    position:absolute;
    transform-origin: top left;
    left: 1240px;
    width: 320px;
    background-color: rgba(0,255,0,0.3);
    border: 1px solid #fff;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
}
#killedbywolves {
    position: relative;
    background-color: rgba(255,0,0,0.3);
    border: 1px dashed #fff;
    flex-grow: 1;
}
#killedbyvillagers {
    position: relative;
    background-color: rgba(0,255,0,0.3);
    border: 1px dashed #fff;
    flex-grow: 1;
}
.paneltop {
    margin:auto;
}
/* voters and the candidates for voting */
/* voters are scaled to 0.75, candidates are scaled to 1.5 */
#voters {
    z-index: -1;
    position: absolute;
    transform-origin: top left;
    left: 0px;
    width: 320px;
    background-color: rgba(0,128,128,0.3);
}
#candidates {
    z-index: -1;
    position: absolute;
    transform-origin: top left;
    left: 1100px;
    width: 720px;
    background-color: rgba(128,0,128,0.3);
}
#safe {
    z-index: -1;
    position: absolute;
    transform-origin: top left;
    left: 10px;
    width:1900px;
    background-color: rgba(128,128,0,0.3);
}

/* PLAYER */
.player {
    /* Set position to absolute so all child elements are relative to this position */
    position:absolute;
    top:0;
    left:0;
}
/* By adding a class of .dead to a player we can adjust the opacity of the player image */
.player .dead img {
    opacity: 0.3;
}
/* Debugging - show a pixel to identify the 'origin' of the player graphic */
.pixel {
    z-index:999;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    background-color: black;
}
.avatar {
    position: absolute;
    bottom:-60px;
    left:0;
    transform-origin: bottom center;
}
.avatar img {
    width:100px;
    transform-origin: center bottom;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);}

.playernamepanel {
    z-index: -1;
    position:absolute;
    left:0;
    top:-24px;
    height:48px;
    border-radius: 14px;
    border: 2px solid #fff;
    background-color: gray;
    vertical-align: baseline;
    max-width: 480px;
}
.playername {
    font-family: "Titan One", sans-serif;
    font-size:40px;
    margin-left: 100px;
    margin-right:20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    color:darkblue;
    vertical-align:bottom;
}

.voter {
    position: absolute;
    left: 0px;
    top: 0px;
}

/* INFORMATION/INSTRUCTION PANELS */
#gameoptions {
    z-index:10;
    font-size: 60px;
    position:fixed;
    padding:30px;
    left:60px;
    top:60px;
    right: 60px;
    bottom:60px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
}


#largepanel {
    position:absolute;
    z-index:10;
    font-size: 60px;
    left: 40px;
    width: 1840px;
    padding:30px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.4);
    display: none;
}
#largepanelcontent {
    margin:auto;
}
#startgame {
    display: none;
}
#nightaction {
    display: none;
}
#dayaction {
    display: none;
}
#instructions {
    position:absolute;
    z-index:10;
    font-size: 5rem;
    left: 240px;
    width: 1440px;
    padding:70px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.4);
    text-align: center;
    display: block;
}
#instructions-close {
    margin-top: 80px;
}

/* TIMER */
/* From https://alvarotrigo.com/blog/how-to-make-a-progress-bar-in-css/ */
#timer {
    position:absolute;
    z-index:10;
    left: 660px;
    top: 900px;
    width: 600px;
    height:60px;
    display: none;
    border: 2px solid green;
}
.timer_progress {
    --color:  /* the progress color */
      linear-gradient(#fff8,#fff0),
      repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
      green;
    background: var(--color);
    height: 100%;
    width: 0%;
  }

  button {
    font-family: "Titan One", sans-serif;
    background-color:#4B538B;   
    color:#FF8C00 ;  /* Spanish orange */ 
    border: 1px solid #FF8C00; /* Spanish orange */
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
  

  /* SCRATCH  -  used by GSAP testing script */

.container-centre {
    text-align: center;
}

#buttonlist {
    position:absolute;
    transform-origin: top left;
    /* background-color: rgba(128,128,0,0.4); */
    top:0;
    left:0;
    width: 1920px;
    margin:0;
    padding:0;
    z-index: 999;
}

#test1 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
    border: 1px solid rgb(0,255,0);
}
#test2 {
    position:absolute;
    left:0px;
    top:0;
    width:100px;
    height:100px;
    border: 1px solid rgb(255,0,255);
}
